* {
  font-family: "Open Sans", sans-serif;
}

P {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  font-size: 14px;
  line-height: 14px;
}

h3 {
}

h4 {
  font-size: 12px;
  font-weight: 400;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

svg {
  cursor: pointer;
}
