@import "../utilities/mixins";

.leftbar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: themed("bgColor");
    color: themed("textColor");
    @include mobile {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    &__container {
      padding: 20px;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__user {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 30px;
        object-fit: cover;
      }
    }
    &__hr {
      margin: 20px 0;
      border: none;
      height: 0.5px;
      background-color: themed("borderColor");
    }
    &__title {
    }
  }
}
